$color-white: #fff;
$color-black: #000;

$color-text-primary: #2E2E2E;
$color-text-secondary: #F6F6F6;

$color-purple-light: #26607F;
$color-purple-dark: #371F65;
$color-green: #05DDB2;

$gradient-purple: linear-gradient(to bottom, $color-purple-dark 0%, $color-purple-dark 15%, $color-purple-light);
